@font-face {
    font-family: OpenSans_Bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Inter_Reg;
    src: url(../fonts/Inter/Inter-Regular.ttf);
}
body {
    background-color: hsl(212, 45%, 89%) !important;
    font-family: Inter_Reg;;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#title {
    font-family: OpenSans_Bold;
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}
#login {
    padding: 5rem;
    position: relative;
    border: 1px solid hsl(212, 45%, 89%);
    box-shadow: 8px 6px 14px 0px rgba(176,176,176,0.10);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

#logo {
    padding: 25px;
    margin-left: 8em;
    width: 100px;
    align-self: center;
}

.box_label {
    display: block;
    font-size: 0.7em;
    margin-bottom: 7px;
    margin-left: 5px;
    border: 0;
}
.input_box {
    border: 1px solid #00008B;
    border-radius: 5px;
    width: 55ch;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    box-shadow: 8px 6px 14px 0px rgba(176,176,176,0.10);
}

#password {
    margin-bottom: 10px;
}

#forgot {
    margin-left: 29em;
    display: block;
    font-size: 0.7em;
}


#other-action {
    position: relative;
    left: 8em;
    width: 15ch;
    top: 1em;
}

.btn {
    background-color: #00008B;
    border: 1px solid rgb(0, 0, 0, 0.10);
    color: white;
    width: 20ch;
    padding: 0.4em;
    box-shadow: 10px 6px 22px 0px rgba(0,0,139,0.15);
}

#signin {
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
}
#or {
    text-align: center;
}

#signup {
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}